*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* .container{
    padding: 0 160px 100px;
} */
.container{
    width: 1000px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Header */
.header{
    background-color: #000000;
    position: relative;
    min-height: 89px;
}
.header .logo{
    float: left;
    position: relative;
}
.header .logo a{
    display: inline-block;
    width: 240px;
    padding: 15px 0 0 0;
}
.header .logo-text{
    color: #ffffff;
    position: absolute;
    top:52px;
    left: 24px;
    font-size: 20px;
    font-weight: bold;
}
.no-bold{
    font-weight: normal;
}
.header .navigation{
    float: left;
    margin-top: 39px;
    margin-left: 60px;
}
.header .navigation ul {
    margin: 0;
    padding: 0;
}
.header .navigation li{
    float: left;
    list-style: none;
}
.header .navigation li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 16px;
}
.header .navigation li a:hover {
    background-color: #ff4500;
}
.header .contact{
    position: absolute;
    right: 0;
    bottom: 0;
}
.header .contact a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
    background-color: rgb(11 193 184);
    height: 46px;
    line-height: 46px;
  }
.header .contact img{
    vertical-align: middle;
}
/* Header-end */

/* Slider */
.slider{
    position: relative;
    background: url(image/slider-bg.jpg) no-repeat;
    height: 420px;
    background-size: 100% 100%;
    margin-bottom: 60px;
}
.slider .navigation{
    background-color: #efefef;
    position: absolute;
    height: 140px;
    width: 340px;
    opacity: 0.9;
    top: 165px;
    padding: 5px 20px 5px 25px;
}
.slider .title{
    text-transform: uppercase;
}
.slider .description{
    font-size: 12px;
    color: #858583;
}
.slider .icon{ 
    margin-top: 15px;
    float: right;
}
.slider .icon a{
    margin-right: 15px;
    color: #000000;
    display: inline-block;
}

/* Slider End */

/* Information */
.information{
    position: relative;
    margin-bottom: 106px;
}
.information .title{
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.information .details{
    text-align: center;
    font-size: 15px;
    color: #858583;
}
.side-bar{
    position: absolute;
    top: -60px;
    right: 0;
}
.side-bar .bg{
    display: inline-block;
    background: url(image/side-menu-list-style.png) no-repeat;
    margin-right: 15px;
    height: 23px;
    width: 4px;
    position: relative;
    vertical-align: middle;
}
.side-bar ul{
    width:150px;
    font-size: 14px;
    margin: 0 0 40px 0;
    padding: 0;
    border-top: 1px solid #ffffff;
}
.side-bar ul li{
    list-style: none;
}
.side-bar li a{
    color: #ffffff;
    display: block;
    padding: 10px 16px 8px 16px;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
}
.black-bg{
    background-color: #000000;
}
.orange-bg{
    background-color: orangered;
    margin: 0 !important;
}

/* Information End */

/* Navigation */
.feature .title{
    font-weight: bold;
    display: inline-block;
    vertical-align: sub;
}
.feature ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #bbb;
}
.feature li {
    float: left;
    list-style: none;
    padding-right: 30px;
  }
  .feature li a {
    display: inline-block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    width: 135px;
    padding-left: 15px;
  }
  .feature li:last-child{
    border-left: 1px solid #bbb;
    padding-right: 0;
  }
  .feature .residential-logo{
    background: url(image/residential.png) no-repeat;
    display: inline-block;
    background-position: 0 0;
    width: 24px;
    height: 27px;
  }
  .feature .name{
    vertical-align: super;
  }
  .feature li a:hover .residential-logo{
    background-position: -24px 0;
}
.feature .commercial-logo{
    background: url(image/commercial.png) no-repeat;
    display: inline-block;
    background-position: -24px 5px;
    width: 24px;
    height: 27px;
}
.feature li a:hover .commercial-logo{
    background-position: 0 5px;
}
.feature li a:hover .name{
    color: #36ced0;
}
/* Navigation End */

/* Projects */
.project-wrapper {
    margin: 80px -2px;
}
.card {
    float: left;
    width: 25%;
    max-height: 320px;
    padding: 0 2px;
    position: relative;
}
.card .comment {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.9;
    width: 248px;
    height: 55px;
}
.card:hover .comment {
    display: none;
}
.comment-icon {
    background: url(image/a.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 55px;
    left: 25px;
    width: 15px;
    height: 7px;
}
.value {
    position: absolute;
    top: 18%;
    left: 10%;
    text-align: center;
}
.others {
    left: 55px;
}
.value .title {
    font-weight: bold;
    text-transform: uppercase;
}
.value .details {
    font-size: 12px;
    font-weight: normal;
    color: #a9a9a9;
    font-style: italic;
}
.explore {
    display: none;
    background-color: #36ced0;
    position: absolute;
    top: 0;
    left: 0;
    height: 320px;
    width: 248px;
    opacity: 0.9;
}
.card:hover .explore {
    display: block;
}
.explore .element {
    position: relative;
}
.explore .element a{
    display: block;
}
.search-icon {
    position: absolute;
    top: 120px;
    left: 80px;
    background-color: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.search-icon i {
    color: #36ced0;
    font-size: 50px;
    padding: 15px 0 0 15px;
}
.explore .details {
    position: absolute;
    top: 210px;
    left: 85px;
    color: white;
}
/* Projects End */

/* Company details */
.company-details .elements{
    margin-bottom: 30px;
}
.company-details .intro{
    float: left;
    width: 63%;
    padding-right: 10px;
}
.company-details .intro img{
    float: left;
    width:280px;
    height:200px;
    margin-right:15px;
}
.company-details .intro .title{ 
    float: left;
    width: 315px;
    font-size: 25px;
    line-height: 32px;
    font-weight: normal;
}
.company-details .intro .color-text{
    margin-top: 15px;
    font-size:16px;
    color:skyblue;
}
.company-details .intro .details{
    padding-top: 50px;
}
.company-details .points{
    float: left;
    width: 37%;
    border-left: 4px solid rgb(228, 220, 220);
    padding-top: 15px;
}
.company-details .points .title{
    font-size: 18px;
    font-weight: bold;
}
.company-details .points img{
    height: 15px;
    width: 5px;
}
.company-details .points .title .head-pad{
    padding: 20px;
}
.company-details .points .details{
    padding: 20px 0 40px 32px;
}
.company-details .points .details a{
    display: inline-block;
    text-decoration: none;
}
/* Company details end */

/* Footer */
.footer-background{
    background: url(image/footer-image.png);
    height: 400px;
}
.footer-value{
    padding: 50px 0;
    color: #ffffff;
}
.footer-value > div {
    float: left;
    vertical-align: top;
}
.endorsement{
    padding: 0 20px 0 0;
    width: 28%;
    word-break: break-all;
}
.endorsement .details{
    line-height: 20px;
    color: #a9a9a9;
    font-size: 15px;
    padding-top: 24px;
    padding-bottom: 7px;
}
.endorsement img{
    float: right;
}
.radius{
    border-radius: 50%;
    margin-right: 6px;
}
.endorsement-footer{
    padding-top: 16px;
}
.endorsement .footer-line{
    float: left;
    width: 70%;
    margin: 11px 20px 0 0;
}
.endorsement-footer a{
    float: left;
    display: block;
}
.links{
    width: 22%;
    padding-right:10px;
    position: relative;
}
.links .title{
    padding-left: 10px;
}
.links img{
position: absolute;
top: 12px;
left: 105px;
}
.links ul{
    padding-left: 20px;
    padding-top: 17px;
}
.links ul li{
    list-style-image: url(image/play-small.png);
}
.links li a {
    display: block;
    color: #a9a9a9;
    font-size: 15px;
    line-height: 33px;
    text-decoration: none;
  }
.links li a:hover{
    font-weight: bold;
    color: #ffffff;
}

.address{
    padding: 0 10px;
    width: 25%;
    position: relative;
}
.address img{
    position: absolute;
    top: 12px;
    left: 90px;
}

.address .second-title{
    text-transform: uppercase;
    padding-top: 26px;
}
.address-details{
    color: #a9a9a9;
    font-size: 15px;
    padding-bottom: 16px;
}
.address ul{
    padding: 0;
    margin: 0;
}
.address ul li{
    list-style: none;
}
.address-details a{
    display: block;
    color: #a9a9a9;
    text-decoration: none;
}
.subscribe{
    padding-left: 20px;
    width: 25%;
}
.mail-form{
    padding: 12px 0;
}
.subscribe .mail-address{
    height: 40px;
    width: 100%;
    padding-left: 10px;
}
input[type=submit]{
    background-color:#36ced0;
    border: none;
    color: #ffffff;
    padding: 8px 13px;
    text-decoration: none;
    margin: 8px 2px;
    cursor: pointer;
}
.icons{
    overflow: hidden;
}
.icons ul{
    margin: 0;
    padding: 0;
}
.icons ul li{
    list-style: none;
    float: left;
}
.icons ul li a{
    background-repeat: no-repeat;
    display: inline-block;
    border: 2px solid #000000;
    background-position: -33px -2px;
    width: 32px;
    height: 32px;
}
.icons ul li:nth-child(1) a{
    background-image: url(image/facebook-icon.png);
}
.icons ul li:nth-child(2) a{
    background-image: url(image/twitter-icon.png);
}
.icons ul li:nth-child(3) a{
    background-image: url(image/linked-in-icon.png);
}
.icons ul li:nth-child(4) a{
    background-image: url(image/mail-icon.png);
}
.icons ul li:nth-child(5) a{
    background-image: url(image/edit-icon.png);
}
.icons ul li:hover a{
    background-position: -1px -1px;
}
/* Footer End */

